{% extends 'base.html' %}

{% block title %}Modules — Uni Tracker{% endblock %}
{% block nav_modules %}active{% endblock %}
{% block page_title %}Modules{% endblock %}

{% block content %}

<h2 class="section-title">Current Modules</h2>

<div class="module-row">
    {% for module in current_modules %}
        <a href="{% url 'modules:module_detail' module.code %}" class="module-card">
            <div class="card-header">
                <div class="header-text">
                    <span class="module-code">{{ module.code }}</span>
                    <span class="module-credits">{{ module.credits }} credits</span>
                </div>
                <span class="module-icon">
                    {% if module.code == 'COMP202' %}📊
                    {% elif module.code == 'COMP208' %}🔎
                    {% elif module.code == 'COMP284' %}💻
                    {% elif module.code == 'COMP285' %}⚙️
                    {% elif module.code == 'ULMS254' %}💡
                    {% else %}{% cycle '📘' '📗' '📕' '📙' '📒' '📓' %}{% endif %}
                </span>
            </div>
            <h3 class="module-name">{{ module.name }}</h3>
        </a>
    {% empty %}
        <p>No current modules.</p>
    {% endfor %}
</div>


<h2 class="section-title">Previous Modules</h2>

<div class="module-row">
    {% for module in previous_modules %}
        <a href="{% url 'modules:module_detail' module.code %}" class="module-card">
            <div class="card-header">
                <div class="header-text">
                    <span class="module-code">{{ module.code }}</span>
                    <span class="module-credits">{{ module.credits }} credits</span>
                </div>
                <span class="module-icon">
                    {% if module.code == 'COMP202' %}📊
                    {% elif module.code == 'COMP208' %}🔎
                    {% elif module.code == 'COMP284' %}💻
                    {% elif module.code == 'COMP285' %}⚙️
                    {% elif module.code == 'ULMS254' %}💡
                    {% else %}{% cycle '📓' '📒' '📙' '📕' '📗' '📘' %}{% endif %}
                </span>
            </div>
            <h3 class="module-name">{{ module.name }}</h3>
        </a>
    {% empty %}
        <p>No previous modules.</p>
    {% endfor %}
</div>

{% endblock %}
