{% extends 'base.html' %}

{% block title %}Dashboard — Uni Tracker{% endblock %}
{% block nav_dashboard %}active{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-section">
    <h2 class="section-title">My Modules</h2>
    <div class="module-row">
        {% for module in modules %}
        <a href="{% url 'modules:module_detail' module.code %}" class="module-card">
            <div class="card-header">
                <div class="header-text">
                    <span class="module-code">{{ module.code }}</span>
                    <span class="module-credits">{{ module.credits }} credits</span>
                </div>
                <span class="module-icon">
                    {% if module.code == 'COMP202' %}📊
                    {% elif module.code == 'COMP208' %}🔎
                    {% elif module.code == 'COMP284' %}💻
                    {% elif module.code == 'COMP285' %}⚙️
                    {% elif module.code == 'ULMS254' %}💡
                    {% else %}📘{% endif %}
                </span>
            </div>
            <h3 class="module-name">{{ module.name }}</h3>
            
            {% for assignment in assignments %}
                {% if assignment.module == module and assignment.due_date <= warning_cutoff %}
                    <span class="badge-red">Urgent</span>
                {% elif assignment.module == module and assignment.due_date <= due_soon_cutoff %}
                    <span class="badge-amber">Due soon</span>
                {% endif %}
            {% endfor %}
        </a>
        {% endfor %}
    </div>
</div>

<div class="dashboard-section">
    <h2 class="section-title">Upcoming Deadlines</h2>
    
    <div class="deadline-container">
        
        {% for assignment in assignments %}
        <div class="deadline-item">
            
            <div class="deadline-info">
                {% if assignment.due_date <= warning_cutoff %}
                    <span class = "warning-icon text-red">🔴</span>
                {% elif assignment.due_date <= due_soon_cutoff %}
                    <span class="warning-icon text-amber">⚠️</span>
                {% else %}
                    <span class="icon-spacer"></span>
                {% endif %}
                <a href="{% url 'modules:module_detail' assignment.module.code %}" class="deadline-link">
                    <span class="deadline-module-code">{{ assignment.module.code }}</span>
                    <span class="deadline-title">{{ assignment.title }}</span>
                </a>
            </div>
            
            {% if assignment.due_date %}
                {% if assignment.due_date <= warning_cutoff %}
                    <div class="deadline-date text-red">
                        {{ assignment.due_date|date:"D d M" }}
                    </div>
                {% elif assignment.due_date <= due_soon_cutoff%}
                    <div class="deadline-date text-amber">
                        {{ assignment.due_date|date:"D d M" }}
                    </div>
                {% else %}
                    <div class="deadline-date">
                        {{ assignment.due_date|date:"D d M" }}
                    </div>
                {% endif %}
            {% else %}
                <div class="deadline-date">
                    TBC
                </div>
            {% endif %}
            
        </div>
        {% empty %}
        <div class="empty-deadlines">No upcoming deadlines!</div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}